.navbar-custom {
    background-color: #181c1b;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom a {
    color: white;
    text-decoration: none;
}

.navbar-custom a:hover {
    text-decoration: underline;
}

/* Sidebar */

.sidebar {
    width: 220px;
    background-color: #9ab5ad;
    min-height: 90vh;
    padding: 20px;
}

.sidebar button {
    margin-bottom: 10px;
}

/* Content */

.content-area {
    padding: 30px;
    background-color: #f8f9fa;
    flex: 1;
}

/* Login */

.login-container {
    max-width: 400px;
    margin-top: 80px;
}

/* Table */

.table th {
    background-color: #3a6357;
    color: white;
}

/* ===== Custom Button Theme ===== */

.btn-library {
    background-color: #3a6357;
    color: white;
    border: none;
}

.btn-library:hover {
    background-color: #2f5248;
    color: white;
}

.btn-library:focus {
    background-color: #2f5248;
    color: white;
    box-shadow: none;
}